info:
  title: SakuinSeizouki API
  version: 0.1.0
tags:
- name: Time
- name: Settings
- name: Project
paths:
  /time/:
    get:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeOut'
          description: Successful response
      tags:
      - Time
      summary: Get
  /project/new/pdf:
    post:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenPdfOut'
          description: Successful response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Project
      summary: Open Pdf
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPdfIn'
  /temp/{path}:
    get:
      parameters:
      - in: path
        name: path
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      summary: Send File
  /project/get/pdf/page:
    get:
      parameters:
      - in: query
        name: pdf_path
        schema:
          type: string
        required: false
      - in: query
        name: page_number
        schema:
          type: integer
        required: false
      responses:
        '200':
          content:
            image/png:
              schema: {}
          description: Successful response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Project
      summary: Get Pdf Page
  /project/create/index:
    post:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIndexOut'
          description: Successful response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Project
      summary: Create Index
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIndexIn'
  /project/get/word/list:
    get:
      parameters:
      - in: query
        name: word_list_path
        schema:
          type: string
        required: false
      - in: query
        name: sheet_name
        schema:
          type: string
        required: false
      - in: query
        name: start_cell
        schema:
          type: string
        required: false
      - in: query
        name: end_cell
        schema:
          type: string
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWordListOut'
          description: Successful response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Project
      summary: Get Word List
  /settings/app-data-directory:
    post:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetAppDataDirectoryOut'
          description: Successful response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Settings
      summary: Set App Data Directory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAppDataDirectoryIn'
openapi: 3.0.3
components:
  schemas:
    ValidationError:
      properties:
        detail:
          type: object
          properties:
            <location>:
              type: object
              properties:
                <field_name>:
                  type: array
                  items:
                    type: string
        message:
          type: string
      type: object
    HTTPError:
      properties:
        detail:
          type: object
        message:
          type: string
      type: object
    TimeOut:
      type: object
      properties:
        time:
          type: string
    OpenPdfIn:
      type: object
      properties:
        pdf_path:
          type: string
    PdfPageType:
      type: object
      properties:
        width:
          type: integer
        height:
          type: integer
        page_numbers:
          type: array
          items:
            type: integer
        type:
          type: integer
    OpenPdfOut:
      type: object
      properties:
        page_types:
          type: array
          items:
            $ref: '#/components/schemas/PdfPageType'
    Annotation:
      type: object
      properties:
        x:
          type: integer
        y:
          type: integer
        width:
          type: integer
        height:
          type: integer
        group_index:
          type: integer
    CreateIndexIn:
      type: object
      properties:
        pdf_path:
          type: string
        list_path:
          type: string
        sheet_name:
          type: string
        start_cell:
          type: string
        end_cell:
          type: string
        page_types:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Annotation'
    CreateIndexOut:
      type: object
      properties:
        page_contents:
          type: array
          items:
            type: string
        word_pages:
          type: object
          additionalProperties:
            type: array
            items:
              type: integer
        missing_pages:
          type: array
          items:
            type: integer
    GetWordListOut:
      type: object
      properties:
        word_list:
          type: array
          items:
            type: string
    SetAppDataDirectoryIn:
      type: object
      properties:
        app_data_directory:
          type: string
    SetAppDataDirectoryOut:
      type: object
      properties:
        valid:
          type: boolean

