info:
  title: SakuinSeizouki API
  version: 0.1.0
tags:
- name: Time
- name: Book Index
- name: Pdf
paths:
  /pdf/:
    post:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful response
      tags:
      - Pdf
      summary: Post
  /time/:
    get:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeOut'
          description: Successful response
      tags:
      - Time
      summary: Get
  /book-index/:
    get:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful response
      tags:
      - Book Index
      summary: Get
openapi: 3.0.3
components:
  schemas:
    TimeOut:
      type: object
      properties:
        time:
          type: string

